<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>18770927032-c1c3si1olu8jk61vehq2h8dh4btm07g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18770927032-c1c3si1olu8jk61vehq2h8dh4btm07g8</string>
	<key>API_KEY</key>
	<string>AIzaSyDBzJFgJH8jPJEmcKc5FU-MKhaCoB3ib-8</string>
	<key>GCM_SENDER_ID</key>
	<string>18770927032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magenative.ShopifyApp</string>
	<key>PROJECT_ID</key>
	<string>magenative-shopify-app</string>
	<key>STORAGE_BUCKET</key>
	<string>magenative-shopify-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18770927032:ios:70487159a66e0020</string>
	<key>DATABASE_URL</key>
	<string>https://magenative-shopify-app.firebaseio.com</string>
</dict>
</plist>